{{define "BrainchildEducation"}}
<div class="content-box education">
    <div class="content-box-title">
        <h2>Education</h2>
    </div>
    <div class="content-box-content">
    {{ range $education := .Personal.Educations }}
        <div class="content-text">
            <p>{{ $education.Institute }} {{if $education.Degree}} / {{ $education.Degree }} {{end}} {{if $education.Year}} / {{ $education.Year }} {{end}} </p>
            <p class="intend-small">{{ $education.Description }}</p>
        </div>
    {{ end }}
    </div>
</div>
{{end}}