{{define "BrainchildFooter"}}
<footer class="page-break-after">
    <p class="gdpr-disclaimer fineprint">
        Generated on {{ FormatUnixToDate .Meta.CreationTime }}. All copies
        of this Resumé must be deleted after {{ FormatUnixToDate .Meta.ExpirationTime }}
    </p>
</footer>
<div class="end-of-cv">&nbsp;</div>
{{end}}