{{ define "BrainchildProjects" }}
<div class="projects">
    <h2 class="print-attached loose">Projects</h2>
    <div class="projects-list">
    {{ range $project := . }}
        <div class="project-list-item">
            <div class="project-heading avoid-page-break">
                <div class="project-name">
                    {{ if IsHidden $project.Customer }}
                        (Customer not public)
                    {{ else }}
                        {{ $project.Customer }}
                    {{ end }}
                    {{ if $project.ProjectTitle }}
                        / {{ $project.ProjectTitle }}
                    {{ end }}
                    {{ if $project.From }}
                    {{ $projectDates := FormatFromToDate $project.From $project.To }}
                        / {{ $projectDates }}
                    {{ end }}
                </div>
            {{ if $project.Role }}
                <div>
                    <b>Role:</b>
                    <span class="project-text">{{ $project.Role }}</span>
                </div>
            {{ end }}
            {{ if $project.Technologies }}
                <div>
                    <b>Technologies:</b>
                    <span class="project-text">{{ $project.Technologies }}</span>
                </div>
            {{ end }}
        </div>
        {{ if $project.Descriptions }}
            <div class="project-description">
            {{ range $description := $project.Descriptions }}
                <p class="avoid-page-break">{{ $description }}</p>
            {{ end }}
            </div>
        {{ end }}
        </div>
    {{ end }}
    </div>
</div>
{{ end }}