@main-text-color: #14140F;
@color-primary: #D2A0FA;
@border-color: #D2A0FA;
@background-color: #D2A0FA;
@content-background-color: #FAFAFA;
@background-color-alt: lighten(#D2A0FA, 95%);
@table-striped-background-color: @background-color-alt;
@fineprint-text-color: #14140F;
@logo-color: #14140F;
@header-protection-area-print: calc(297mm / 5);
@header-protection-area-loose-print: calc(@header-protection-area-print / 2);
@left-column-width: 248px;
// 3/4 coefficient for difference between header/footer and content dpi when printing to pdf
@left-column-border-width: calc(1px / 0.75);
