{{define "InnovationInterests" }}
<div class="content-box full">
    <div class="content-box-title">
        <h2>Interests</h2>
    </div>
    <div class="content-box-content">
        <div class="content-text">
        {{ range $interest := .Personal.Interests }}
            <p class="content-right-paragraph-text">{{ $interest }}</p>
        {{ end }}
        </div>
    </div>
</div>
{{end}}