*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

@page {
  size: A4;
  margin: 1cm 2cm;
}

@page :first {
  size: A4;
  margin: 2cm 2cm 1cm 2cm;
}

html {
  font-size: 46.875%; /* 7.5px */
}

body {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  line-height: 1;
  font-size: 1.6rem; /* 12px */
  line-height: 1.5;
  text-align: left;
}

@media screen {
  body {
    margin: 6rem;
  }
}

.logo {
  height: 13rem;
}

.header {
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
}

.name-box {
  text-transform: uppercase;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-box h1 {
  font-size: 4rem;
}
.name-box h2 {
  color: #ff6a00;
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: 500;
}

.pitch {
  margin: 4rem 2rem;
  text-align: center;
}

.pitch h3 {
  font-weight: normal;
  font-size: 2rem;
}

.content {
}

.content .flex {
  display: flex;
  flex-wrap: wrap;
}

.content-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.content-box.skills {
  flex-basis: auto; // was 32% but that made the columns too tight
}

.content-box.education {
  flex-basis: 100%;
  padding-right: 1.5rem;
}

.content-box.languages,
.content-box.contact {
  flex-basis: 27%;
}

.content-box.full {
  flex-basis: 100%;
}

.content-box-title {
  color: #ff6a00;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content-box-content {
}

.content-text p {
  margin-top: 1em;
}

.content-text p:first-child {
  margin-top: 0em;
}

.skills-table-container {
  padding-right: 3rem;
}

.skills-table {
  border: none;
  width: 100%;
  border-collapse: collapse;
}
.skills-table tr {
  margin-bottom: 0.6rem;
  display: block;
}
.skills-table .skill-name {
  max-width: 23rem;
  width: 23rem;
}

.work-experience {
  margin-top: 4rem;
}

.intend-small {
  margin-left: 4rem;
}

.work-experience-header {
  margin-bottom: 2rem;
}

.work-experience-header h1 {
  font-size: 4rem;
  color: #ff6a00;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.work-experience .experiences .experience {
  margin-bottom: 4rem;
}

.experience h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.experience h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.experience .experience-description {
  margin-top: 1.5rem;
}

.content-text {
  margin: 0 0 2rem 0;
}

.personal-content {
  font-size: 1.5rem;
  font-weight: bold;
}

.experience-year-header {
  font-size: 1.6rem;
}

.name {
  display: inline-block;
}

.projects {
  margin-top: 1.5rem;
}

.projects-list {
  margin-top: 2rem;
  list-style-type: none;
}

.project-list-item {
  margin-bottom: 1rem;
}

.project-list-item:not(:first-child) {
  margin-top: 4rem;
}

.project-list-item > div:not(:first-child) {
  margin-top: 0.5rem;
}

.project-head {
  font-weight: bold;
}

.project-name {
  color: #ff6a00;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.gdpr-disclaimer {
  color: #777;
}

footer {
  text-align: center;
}

footer p {
  display: inline-block;
}

@media print, page {
  * {
    widows: 3;
    orphans: 3;
  }

  p {
    page-break-inside: avoid;
  }
  .content-box {
    page-break-inside: avoid;
  }
  .content-box.full {
    break-inside: avoid-region;
  }
  .content-box-title,
  .projects h2,
  .experience h2,
  .project-name,
  .work-experience-header {
    page-break-after: avoid !important;
  }
  .single-page {
    page-break-inside: avoid;
  }
  .logo {
    height: 13rem;
  }

  footer {
    page-break-after: always;
  }
}
