@media print {
  * {
    widows: 3;
    orphans: 3;
  }

  @page :first {
    size: A4;
    margin: 1cm 0 2cm 0;
  }

  @page {
    size: A4;
    margin: 1cm 0 2cm 0;
  }

  .avoid-page-break {
    page-break-inside: avoid;
  }

  .page-break-after {
    page-break-after: always;
  }

  // this will try to keep the content attached to its header when printing
  .print-attached {
    page-break-inside: avoid;

    &::after {
      content: "";
      display: block;
      height: @header-protection-area-print;
      margin-bottom: calc(@header-protection-area-print * -1);
    }

    &.loose::after {
      height: calc(@header-protection-area-loose-print);
      margin-bottom: calc(@header-protection-area-loose-print * -1);
    }
  }

  table {
    tbody {
      tr {
        &:extend(.avoid-page-break);
      }
    }
  }
}
