.cv-area {
  font-family: "Roboto Mono";
  font-size: 12px;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;

  h1 {
    text-transform: uppercase;
    font-size: 2.4em;
    letter-spacing: 0.06em;
    margin: 0 0 0.5em 0;
  }

  h2 {
    text-transform: uppercase;
    color: @color-primary;
    font-size: 1.3em;
    margin-bottom: 1em;
    font-weight: 700;

    &.subtitle {
      font-size: 1.6em;
      font-weight: 700;
    }
  }

  h1 + h2.subtitle {
    margin-bottom: 0;
  }

  h3 {
    font-weight: 400;
  }

  a {
    color: #000;
    text-decoration-color: rgba(68, 68, 68, 0.3);
  }

  p {
    margin-bottom: 1em;
  }

  [class^="icon-"] {
    color: @color-primary;
  }

  .fineprint {
    color: @fineprint-text-color;
    font-size: 0.83333em;
  }
}

html,
body {
  font-size: 12px;
  color: @main-text-color;
  letter-spacing: 0.01em;
}
