@main-text-color: #111;
@color-primary: #ff6a00;
@border-color: rgba(255, 106, 0, 0.25);
@background-color: lighten(@color-primary, 45%);
@background-color-alt: lighten(#000, 95%);
@table-striped-background-color: @background-color-alt;
@fineprint-text-color: #777;
@logo-color: #555;
@header-protection-area-print: calc(297mm / 5);
@header-protection-area-loose-print: calc(@header-protection-area-print / 2);
@left-column-width: 200px;
// 3/4 coefficient for difference between header/footer and content dpi when printing to pdf
@left-column-border-width: calc(1px / 0.75);
