.content {
  display: flex;
  flex-direction: row;

  aside {
    min-width: @left-column-width;
    max-width: @left-column-width;
    width: @left-column-width;
    padding: 2rem 2em;
    background: @background-color;
    border-right: @left-column-border-width solid @border-color;
    font-size: 0.83em;
  }

  .main-content {
    padding: 2rem 2em;
  }

  .avoid-page-break {
    page-break-inside: avoid;
  }

  .column-2 {
    column-count: 2;

    :first-child {
      margin-top: 0;
    }
  }

  .intend-small {
    margin-left: 1em;
  }

  .logo-container {
    font-size: 12em;
    display: flex;
    justify-content: center;

    i {
      color: @logo-color;
    }
  }

  table {
    tbody {
      tr:nth-child(2n-1) {
        background: @table-striped-background-color;
      }

      td {
        padding: 0.25em 2em 0.25em 0.25em;
      }
    }
  }

  .content-box {
    margin-bottom: 3em;
  }

  .skills {
    margin-bottom: 1em;
  }

  .social,
  .contact,
  .personal {
    p {
      display: flex;
      flex-direction: row;
      word-break: normal;
      font-size: 1em;
      align-items: center;

      i {
        font-size: 1.5em;
        margin-right: 0.75em;
      }

      &.oneline {
        word-break: keep-all;
      }

      &.breakall {
        word-break: break-all;
      }
    }
  }

  .legend {
    list-style: none;
    color: #777;
    font-size: 0.83em;
    margin-top: 2em;
  }

  .skills-table {
    width: 100%;

    .skill-value {
      text-align: right;
    }
  }

  .work-experience {
    margin-top: 2em;

    h3 {
      font-style: normal;
    }
  }

  .experiences {
    .experience {
      margin-bottom: 2em;

      h2 {
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: 1em;
      }

      .projects {
        .projects-list {
          .project-list-item {
            .project-heading {
              .project-name {
                color: @color-primary;
                margin-top: 1em;
              }
            }
          }
        }
      }
    }
  }

  .quotations {
    .quoting-customer {
      display: block;

      &::before {
        content: "- ";
      }
    }

    q::before,
    q::after {
      font-size: 1.5em;
      font-family: Arial;
      color: @color-primary;
    }

    q::before {
      content: "\201c";
      margin-right: 0.25em;
    }

    q:after {
      content: "\201d";
      margin-left: 0.25em;
    }
  }
}
