header {
  display: flex;
  flex-direction: row;

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: @left-column-width;
    max-width: @left-column-width;
    width: @left-column-width;
    background: #fff0e5;
    border-right: @left-column-border-width solid @border-color;

    img {
      width: 140px;
      height: 140px;
      padding: 0.5rem;
      background: #fff;
      box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.1);
      object-fit: cover;
    }

    i.icon-raketti-logo {
      display: flex;
      font-size: 10em;
      color: @logo-color;
      padding: 0.5rem;
      background: #fff;
      box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.1);

      &:before {
        background-color: @background-color-alt;
        padding: 0.25rem;
      }
    }
  }

  .header-title-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2em;
  }
}
