{{ define "BrainchildCertifications" }}
    {{ if .Certifications }}
        <div class="content-box certifications">
            <div class="content-box-title">
                <h2 class="print-attached">Courses and certifications</h2>
            </div>
            <div class="content-box-content">
            {{ range $certification := .Certifications }}
                <div class="content-text">
                    <p class="avoid-page-break">
                        {{ list $certification.Organizer $certification.Description $certification.Year | join " / " }}
                    </p>
                </div>
            {{ end }}
            </div>
        </div>
    {{ end }}
{{end}}