{{define "BrainchildContact" }}
    {{if .SalesContact.Email}}
    <div class="content-box contact">
        <div class="content-box-title">
            <h2>Sales contact</h2>
        </div>
        <div class="content-box-content">
            <p class="oneline">
                <i class="icon-envelope-o"></i>
                {{ .SalesContact.Email}}
            </p> 
        </div>
    </div>
    {{end}}
{{end}}