{{define "BrainchildHead"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <!--<link href="https://file.myfontastic.com/iSNHQ48FGGzUJNkMxjA926/icons.css" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet">
    <title>RAKETTITIEDE_{{ .Personal.FirstName -}} _ {{- .Personal.LastName -}}
        _CV_ {{- FormatUnixToDate .Meta.CreationTime }}</title>
    <style>
        {{ .Meta.CSS }}
    </style>
</head>
{{end}}